// elevation
$z-index: 1 !default;

// sizes
$height: 3.5rem !default;
$border-radius: 0.25rem !default;
$input-font-size: 1rem !default;

// margin && padding
$padding-horizontal: 1rem !default;
$label-padding-horizontal: 0.5rem !default;

// transform
$label-translate-y: -1.75rem !default;
$label-scale: 0.75 !default;
