// sizes
$main-card-width: 30rem !default;
$main-card-min-width: 15rem !default;

$main-card-service-icon-width: 1.5rem !default;
$main-card-service-icon-height: 1.5rem !default;

$btn-scroll-top-width: 3rem !default;
$btn-scroll-top-height: 3rem !default;

// margins & paddings
$main-card-body-margin-top: 0.5rem !default;
$main-card-body-margin-horizontal: 0.25rem !default;
$main-card-body-margin-bottom: 0 !default;

// positions
$btn-scroll-top-right: 1rem !default;
$btn-scroll-top-bottom: 1rem !default;
