// elevation
$z-index: 10 !default;

// width
$row-height: 4rem !default;

// paddings
$row-padding: 0.5rem !default;

// font
$title-font-size: 1.25rem !default;

// icon
$icon-width: 2rem !default;
$icon-height: 2rem !default;

$icon-vertical-margin: 0;
$icon-horizontal-margin: 1rem;
