// position
$top: 0.625rem !default;

// sizes
$border-radius: 0.5rem !default;

$max-width: 45rem !default;

$height: 2.125rem !default;
$list-height: 20rem !default;

$icon-size: 1.5rem !default;

// margin & padding
$padding: 0.25rem !default;

$margin-max: 9rem;
$margin-min: 1.5rem;

$icon-margin-vertical: 0 !default;
$icon-margin-horizontal: 0.25rem !default;
